# Ignore system files
*~
*.diff
*.patch
.DS_Store
.sizecache.json
.*.swp
Thumbs.db

# Ignore dependency folders
/node_modules

# Ignore distribution folders
/lib

# Ignore temporary folders
/coverage

# Ignore debug files
*.log